body {
    background-image: url('/assets/images/bg.png');
    background-size: cover; /* This ensures the image covers the whole viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.startbutton {
			color: #ffffff;
			background-color: #01e3fe;
			font-size: 19px;
			border-radius: 20px;
			padding: 15px 50px;
			cursor: pointer;
      align-items: center;
		}
		.startbutton:hover {
			color: #00e3fe;
			background-color: #ffffff;
		}

#qrcode {
    padding: 1.5rem;
    background-color: #90e0ef; /* Baby blue */
    border-radius: 10px;
}
