body {
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.startbutton {
  animation-delay: 0.5s;
  background-color:#01e5fe;
  border:2px solid #01e5fe;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
}

.startbutton:hover {
	color: #01e5fe;
	background-color: #ffffff;
}

.container {
  position: relative;
  z-index: 2; /* Ensures text & buttons are above */
}

.container h1 {
  animation-delay: 0.6s;
}

.container h1,
.container .startbutton .background-image {
  position: relative; /* Ensures they stay on top */
  z-index: 3;
  opacity: 0;
  transform: translateY(20px); /* Slight downward offset */
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.maibg {
  animation-delay: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.backbutton {
	color: #ffffff;
	background-color:#01e5fe;
  border:2px solid #01e5fe;
  display: block;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	font-size: 19px;
	padding: 15px 50px;
	cursor: pointer;
}

.backbutton:hover {
  	color: #01e5fe;
  	background-color: #ffffff;
  }

.videoplayer {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 400px) {
    .videoplayer {
      width: 20%;
      height: 20%;
    }
  }
