body {
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.startbutton {
			color: #ffffff;
			background: none;
      display: block;
      margin: 0 auto;
			font-size: 19px;
      border: 5px;
      border-color: #01e3fe;
      outline: none;
			border-radius: 20px;
			padding: 15px 50px;
			cursor: pointer;
		}

.startbutton:hover {
		color: #00e3fe;
		background-color: #ffffff;
	}

.backbutton {
		color: #ffffff;
		background-color: #01e3fe;
    display: block;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  	font-size: 19px;
    border: none;
    outline: none;
  	border-radius: 20px;
  	padding: 15px 50px;
  	cursor: pointer;
	}

.backbutton:hover {
  	color: #00e3fe;
  	background-color: #ffffff;
  }

.videoplayer {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 400px) {
    .videoplayer {
      width: 20%;
      height: 20%;
    }
  }
