body {
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.container {
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.container h1 {
  animation-delay: 1s;
}

.container h1,
.container .startbutton .background-image {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backbutton {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 1s;

	color: #ffffff;
	background-color:#01e5fe;
  border:2px solid #01e5fe;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
	font-size: 19px;
	padding: 15px 50px;
	cursor: pointer;
}

.backbutton:hover {
  	color: #01e5fe;
  	background-color: #ffffff;
  }

.videoplayer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

.content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 1s;
}

.hyperlinks {
  color: white;
  text-decoration: none;
  display: inline;
}

.hyperlinks:hover {
  transform: scale(1.2);
  color: #01e5fe;
  text-decoration: underline;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .video-wrapper {
        padding-bottom: 56.25%;
    }
}
